Repository k-orc/openstack-resource-controller, pull requests merged in 2024-12, with the labels that each got.

#132 gitignore: openapi.json
  .gitignore
Labels: semver:patch

#124 Allow Create and Delete to return WaitingOnEvent
  internal/controllers/flavor/actuator.go
  internal/controllers/flavor/controller.go
  internal/controllers/flavor/reconcile.go
  internal/controllers/generic/actuator.go
  internal/controllers/image/actuator.go
  internal/controllers/image/reconcile.go
  internal/controllers/network/actuator.go
  internal/controllers/network/controller.go
  internal/controllers/network/reconcile.go
  internal/controllers/port/actuator.go
  internal/controllers/port/controller.go
  internal/controllers/port/reconcile.go
  internal/controllers/router/actuator.go
  internal/controllers/router/controller.go
  internal/controllers/router/reconcile.go
  internal/controllers/securitygroup/actuator.go
  internal/controllers/securitygroup/controller.go
  internal/controllers/securitygroup/reconcile.go
  internal/controllers/server/actuator.go
  internal/controllers/server/reconcile.go
Labels: semver:patch

#135 Server: Stop retrying for any non-retryable error
  internal/controllers/server/actuator.go
Labels: semver:patch

#128 Update subnet controller to use generic actuator
  internal/controllers/generic/actuator.go
  internal/controllers/generic/dependency.go
  internal/controllers/subnet/actuator.go
  internal/controllers/subnet/controller.go
  internal/controllers/subnet/reconcile.go
Labels: semver:patch

#139 image: Fix adoption of previously created resource
  internal/controllers/image/actuator.go
Labels: semver:patch

#133 Add more flavor tests validations
  test/apivalidations/flavor_test.go
  test/apivalidations/image_test.go
Labels: semver:patch

#143 Fix RBAC to allow reading secrets
  config/rbac/role.yaml
  internal/scope/provider.go
Labels: semver:patch

#148 Remove documented use of kustomize binary
  docs/local-development.md
  examples/Makefile
  examples/README.md
Labels: semver:patch

#130 actions: Add basic e2e test exercising cirros example
  .github/workflows/e2e.yaml
  Makefile
  hack/collectlogs
  hack/e2e.sh
Labels: semver:patch

#145 Set Image Name to be of type OpenStackName
  api/v1alpha1/image_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/openstack.k-orc.cloud_images.yaml
  internal/controllers/image/actuator.go
  pkg/clients/applyconfiguration/api/v1alpha1/imageresourcespec.go
  test/apivalidations/image_test.go
Labels: semver:major

#141 Major semver breaking changes
  api/v1alpha1/common_types.go
  api/v1alpha1/conditions.go
  api/v1alpha1/openstack_types.go
  api/v1alpha1/port_types.go
  api/v1alpha1/router_interface_types.go
  api/v1alpha1/server_types.go
  api/v1alpha1/subnet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/manager/main.go
  config/crd/bases/openstack.k-orc.cloud_routers.yaml
  internal/controllers/common/conditions.go
  internal/controllers/flavor/actuator.go
  internal/controllers/flavor/list.go
  internal/controllers/generic/actuator.go
  internal/controllers/image/actuator.go
  internal/controllers/image/reconcile.go
  internal/controllers/image/status.go
  internal/controllers/image/status_test.go
  internal/controllers/image/upload.go
  internal/controllers/image/upload_helpers.go
  internal/controllers/image/webdownload.go
  internal/controllers/network/actuator.go
  internal/controllers/port/actuator.go
  internal/controllers/router/actuator.go
  internal/controllers/routerinterface/reconcile.go
  internal/controllers/securitygroup/actuator.go
  internal/controllers/server/actuator.go
  internal/controllers/server/list.go
  internal/controllers/server/reconcile.go
  internal/controllers/subnet/actuator.go
  internal/controllers/subnet/reconcile.go
  pkg/clients/applyconfiguration/api/v1alpha1/portrefs.go
  pkg/clients/applyconfiguration/api/v1alpha1/portspec.go
  pkg/clients/applyconfiguration/api/v1alpha1/routerinterfacespec.go
  pkg/clients/applyconfiguration/api/v1alpha1/serverportspec.go
  pkg/clients/applyconfiguration/api/v1alpha1/serverresourcespec.go
  pkg/clients/applyconfiguration/api/v1alpha1/subnetrefs.go
  pkg/clients/applyconfiguration/api/v1alpha1/subnetresourcespec.go
  pkg/clients/applyconfiguration/api/v1alpha1/subnetspec.go
  pkg/controllers/alias.go
Labels: semver:major

#144 Add custom-deploy target
  .dockerignore
  .gitignore
  Makefile
Labels: semver:patch

#152 actions: Add a workflow to publish image on tag event
  .github/workflows/release_image.yaml
Labels: semver:patch

#151 Add --default-ca-certs command line option
  cmd/manager/main.go
Labels: backport-v1.0, semver:patch

#157 Add cirros-image example
  examples/apply/cirros-image/kustomization.yaml
  examples/bases/cirros-image/image.yaml
  examples/bases/cirros-image/kustomization.yaml
  examples/bases/cirros/kustomization.yaml
  examples/bases/cirros/server.yaml
Labels: semver:patch

#159 Bump Gophercloud to v2.4.0
  go.mod
  go.sum
Labels: semver:patch
