Repository k-orc/openstack-resource-controller, pull requests merged in 2025-05, with the labels that each got.

#386 Bump x/net to fix GHSA-vvgc-356p-c3xw
  go.mod
  go.sum
Labels: v1.0, semver:patch

#387 Bump kube-api-linter
  .golangci.yml
  Makefile
  api/v1alpha1/image_types.go
  api/v1alpha1/securitygroup_types.go
Labels: semver:patch

#394 CI: Collect objects from all namespaces
  hack/collectlogs
Labels: semver:patch

#395 CI: enable project e2e tests
  kuttl-test.yaml
Labels: semver:patch

#396 Add weekly security scan using govulncheck and trivy
  .github/workflows/e2e.yaml
  .github/workflows/weekly-security-scan.yaml
  .gitignore
  Dockerfile
  Makefile
  hack/ensure-trivy.sh
  hack/verify-container-images.sh
Labels: semver:patch

#399 Update devstack-action's URL to its new home
  .github/workflows/e2e.yaml
Labels: semver:patch

#400 Subnet: Add dependency on router
  internal/controllers/subnet/actuator.go
  internal/controllers/subnet/controller.go
  internal/controllers/subnet/tests/subnet-dependency/00-assert.yaml
  internal/controllers/subnet/tests/subnet-dependency/02-assert.yaml
Labels: semver:patch

#401 Make ProjectRef a pointer
  api/v1alpha1/network_types.go
  api/v1alpha1/port_types.go
  api/v1alpha1/router_types.go
  api/v1alpha1/securitygroup_types.go
  api/v1alpha1/subnet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/models-schema/zz_generated.openapi.go
  internal/controllers/network/actuator.go
  internal/controllers/network/controller.go
  internal/controllers/port/actuator.go
  internal/controllers/port/controller.go
  internal/controllers/router/actuator.go
  internal/controllers/router/controller.go
  internal/controllers/securitygroup/actuator.go
  internal/controllers/securitygroup/controller.go
  internal/controllers/subnet/actuator.go
  internal/controllers/subnet/controller.go
  pkg/clients/applyconfiguration/internal/internal.go
Labels: semver:minor

#405 Fix verify-govulncheck
  Makefile
Labels: semver:patch

#404 FloatingIP: set omitempty for resource.floatingIP
  api/v1alpha1/floatingip_types.go
Labels: semver:patch

#414 image: Poll until image is ready
  internal/controllers/image/status.go
Labels: semver:patch

#418 CloudCredential secret: export constants in api
  api/v1alpha1/credentials_ref.go
  internal/scope/provider.go
Labels: semver:minor
