Repository k-orc/openstack-resource-controller, pull requests merged in 2025-01, with the labels that each got.

#166 Stop pushing a latest tag for container images
  .github/workflows/container_image.yaml
Labels: semver:patch

#167 Bump tool and minimum k8s versions
  Makefile
  config/crd/bases/openstack.k-orc.cloud_flavors.yaml
  config/crd/bases/openstack.k-orc.cloud_images.yaml
  config/crd/bases/openstack.k-orc.cloud_networks.yaml
  config/crd/bases/openstack.k-orc.cloud_ports.yaml
  config/crd/bases/openstack.k-orc.cloud_routerinterfaces.yaml
  config/crd/bases/openstack.k-orc.cloud_routers.yaml
  config/crd/bases/openstack.k-orc.cloud_securitygroups.yaml
  config/crd/bases/openstack.k-orc.cloud_servers.yaml
  config/crd/bases/openstack.k-orc.cloud_subnets.yaml
Labels: semver:patch

#168 chore: Dependency bump
  go.mod
  go.sum
Labels: semver:patch

#164 Add all CRDs to the openstack category
  api/v1alpha1/zz_generated.flavor-resource.go
  api/v1alpha1/zz_generated.image-resource.go
  api/v1alpha1/zz_generated.network-resource.go
  api/v1alpha1/zz_generated.port-resource.go
  api/v1alpha1/zz_generated.router-resource.go
  api/v1alpha1/zz_generated.securitygroup-resource.go
  api/v1alpha1/zz_generated.server-resource.go
  api/v1alpha1/zz_generated.subnet-resource.go
  cmd/resource-generator/data/api.template
  config/crd/bases/openstack.k-orc.cloud_flavors.yaml
  config/crd/bases/openstack.k-orc.cloud_images.yaml
  config/crd/bases/openstack.k-orc.cloud_networks.yaml
  config/crd/bases/openstack.k-orc.cloud_ports.yaml
  config/crd/bases/openstack.k-orc.cloud_routers.yaml
  config/crd/bases/openstack.k-orc.cloud_securitygroups.yaml
  config/crd/bases/openstack.k-orc.cloud_servers.yaml
  config/crd/bases/openstack.k-orc.cloud_subnets.yaml
Labels: semver:patch

#163 Remove RemoteGroupID from SecurityGroupRule
  api/v1alpha1/securitygroup_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/models-schema/zz_generated.openapi.go
  config/crd/bases/openstack.k-orc.cloud_securitygroups.yaml
  internal/controllers/securitygroup/actuator.go
  pkg/clients/applyconfiguration/api/v1alpha1/securitygrouprule.go
  pkg/clients/applyconfiguration/internal/internal.go
Labels: semver:major

#169 Update docs
  docs
  docs/api-contracts.md
  website/docs/api-contracts.md
  website/docs/design-decisions.md
  website/docs/getting-started.md
  website/docs/index.md
  website/docs/local-development.md
  website/docs/writing-controllers.md
  website/mkdocs.yml
Labels: semver:patch

#161 Implement a generic controller
  internal/controllers/flavor/actuator.go
  internal/controllers/flavor/controller.go
  internal/controllers/flavor/reconcile.go
  internal/controllers/flavor/status.go
  internal/controllers/generic/actuator.go
  internal/controllers/generic/conditions.go
  internal/controllers/generic/controller.go
  internal/controllers/generic/status.go
  internal/controllers/generic/waitevent.go
  internal/controllers/image/actuator.go
  internal/controllers/image/controller.go
  internal/controllers/image/reconcile.go
  internal/controllers/image/upload_test.go
  internal/controllers/network/actuator.go
  internal/controllers/network/controller.go
  internal/controllers/network/reconcile.go
  internal/controllers/network/status.go
  internal/controllers/port/actuator.go
  internal/controllers/port/controller.go
  internal/controllers/port/reconcile.go
  internal/controllers/port/status.go
  internal/controllers/router/actuator.go
  internal/controllers/router/controller.go
  internal/controllers/router/reconcile.go
  internal/controllers/router/status.go
  internal/controllers/routerinterface/controller.go
  internal/controllers/routerinterface/reconcile.go
  internal/controllers/routerinterface/status.go
  internal/controllers/securitygroup/actuator.go
  internal/controllers/securitygroup/controller.go
  internal/controllers/securitygroup/reconcile.go
  internal/controllers/securitygroup/status.go
  internal/controllers/server/actuator.go
  internal/controllers/server/controller.go
  internal/controllers/server/reconcile.go
  internal/controllers/server/status.go
  internal/controllers/subnet/actuator.go
  internal/controllers/subnet/controller.go
  internal/controllers/subnet/reconcile.go
  internal/controllers/subnet/status.go
  internal/util/dependency/deletion_guard.go
  internal/util/dependency/dependency.go
  internal/util/finalizers/finalizer.go
  internal/util/result/result.go
Labels: semver:patch

#172 Fix lint issues observed by running Kal
  api/v1alpha1/common_types.go
  api/v1alpha1/controller_options.go
  api/v1alpha1/credentials_ref.go
  api/v1alpha1/flavor_types.go
  api/v1alpha1/image_types.go
  api/v1alpha1/network_types.go
  api/v1alpha1/port_types.go
  api/v1alpha1/router_interface_types.go
  api/v1alpha1/router_types.go
  api/v1alpha1/securitygroup_types.go
  api/v1alpha1/server_types.go
  api/v1alpha1/subnet_types.go
  cmd/models-schema/zz_generated.openapi.go
  config/crd/bases/openstack.k-orc.cloud_flavors.yaml
  config/crd/bases/openstack.k-orc.cloud_images.yaml
  config/crd/bases/openstack.k-orc.cloud_networks.yaml
  config/crd/bases/openstack.k-orc.cloud_ports.yaml
  config/crd/bases/openstack.k-orc.cloud_routerinterfaces.yaml
  config/crd/bases/openstack.k-orc.cloud_routers.yaml
  config/crd/bases/openstack.k-orc.cloud_securitygroups.yaml
  config/crd/bases/openstack.k-orc.cloud_servers.yaml
  config/crd/bases/openstack.k-orc.cloud_subnets.yaml
Labels: semver:patch

#176 Fix build and run targets
  Makefile
Labels: backport-v1.0, semver:patch

#173 API fixes
  api/v1alpha1/common_types.go
  api/v1alpha1/flavor_types.go
  api/v1alpha1/image_types.go
  api/v1alpha1/network_types.go
  api/v1alpha1/openstack_types.go
  api/v1alpha1/port_types.go
  api/v1alpha1/router_interface_types.go
  api/v1alpha1/router_types.go
  api/v1alpha1/securitygroup_types.go
  api/v1alpha1/server_types.go
  api/v1alpha1/subnet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/models-schema/zz_generated.openapi.go
  config/crd/bases/openstack.k-orc.cloud_flavors.yaml
  config/crd/bases/openstack.k-orc.cloud_images.yaml
  config/crd/bases/openstack.k-orc.cloud_networks.yaml
  config/crd/bases/openstack.k-orc.cloud_ports.yaml
  config/crd/bases/openstack.k-orc.cloud_routerinterfaces.yaml
  config/crd/bases/openstack.k-orc.cloud_routers.yaml
  config/crd/bases/openstack.k-orc.cloud_securitygroups.yaml
  config/crd/bases/openstack.k-orc.cloud_servers.yaml
  config/crd/bases/openstack.k-orc.cloud_subnets.yaml
  internal/controllers/flavor/actuator.go
  internal/controllers/flavor/list.go
  internal/controllers/flavor/list_test.go
  internal/controllers/image/actuator.go
  internal/controllers/network/status.go
  internal/controllers/port/actuator.go
  internal/controllers/port/controller.go
  internal/controllers/router/actuator.go
  internal/controllers/subnet/status.go
  pkg/clients/applyconfiguration/api/v1alpha1/address.go
  pkg/clients/applyconfiguration/api/v1alpha1/flavorfilter.go
  pkg/clients/applyconfiguration/api/v1alpha1/flavorresourcespec.go
  pkg/clients/applyconfiguration/api/v1alpha1/imagefilter.go
  pkg/clients/applyconfiguration/api/v1alpha1/imageproperties.go
  pkg/clients/applyconfiguration/api/v1alpha1/imagepropertieshardware.go
  pkg/clients/applyconfiguration/api/v1alpha1/imagestatus.go
  pkg/clients/applyconfiguration/api/v1alpha1/imagestatusextra.go
  pkg/clients/applyconfiguration/api/v1alpha1/networkfilter.go
  pkg/clients/applyconfiguration/api/v1alpha1/networkresourcespec.go
  pkg/clients/applyconfiguration/api/v1alpha1/networkresourcestatus.go
  pkg/clients/applyconfiguration/api/v1alpha1/portfilter.go
  pkg/clients/applyconfiguration/api/v1alpha1/portresourcespec.go
  pkg/clients/applyconfiguration/api/v1alpha1/providerpropertiesstatus.go
  pkg/clients/applyconfiguration/api/v1alpha1/routerfilter.go
  pkg/clients/applyconfiguration/api/v1alpha1/routerresourcespec.go
  pkg/clients/applyconfiguration/api/v1alpha1/securitygroupfilter.go
  pkg/clients/applyconfiguration/api/v1alpha1/securitygroupresourcespec.go
  pkg/clients/applyconfiguration/api/v1alpha1/securitygrouprule.go
  pkg/clients/applyconfiguration/api/v1alpha1/subnetfilter.go
  pkg/clients/applyconfiguration/api/v1alpha1/subnetresourcespec.go
  pkg/clients/applyconfiguration/api/v1alpha1/subnetresourcestatus.go
  pkg/clients/applyconfiguration/internal/internal.go
  pkg/clients/applyconfiguration/utils.go
  test/apivalidations/flavor_test.go
  website/docs/api-contracts.md
Labels: semver:major

#179 Flavors: add a test for filter validation
  test/apivalidations/flavor_test.go
Labels: semver:patch

#178 Enable KAL linter in CI
  .gitignore
  .golangci.yml
  Makefile
Labels: semver:patch

#174 securitygroup: Mutable security group rules
  internal/controllers/generic/waitevent.go
  internal/controllers/securitygroup/actuator.go
  internal/controllers/securitygroup/actuator_test.go
Labels: semver:patch

#180 Add Image validation and an ImageContainerFormat
  api/v1alpha1/image_types.go
  config/crd/bases/openstack.k-orc.cloud_images.yaml
  test/apivalidations/image_test.go
Labels: semver:minor

#194 Add E2E_* environment variables for controlling kuttl tests
  Makefile
  hack/e2e.sh
  internal/controllers/flavor/tests/create-full/00-secret.yaml
  internal/controllers/flavor/tests/create-minimal/00-secret.yaml
  internal/controllers/flavor/tests/import-error/00-secret.yaml
  internal/controllers/flavor/tests/import/00-secret.yaml
  internal/controllers/subnet/tests/create-full-v4/00-secret.yaml
  internal/controllers/subnet/tests/create-full-v6/00-secret.yaml
  internal/controllers/subnet/tests/create-minimal-v4/00-secret.yaml
  internal/controllers/subnet/tests/create-minimal-v6/00-secret.yaml
  internal/controllers/subnet/tests/dependency/00-secret.yaml
  internal/controllers/subnet/tests/import-error/00-secret.yaml
  internal/controllers/subnet/tests/import/00-secret.yaml
Labels: semver:patch

#192 New generic interface
  cmd/resource-generator/data/adapter.template
  cmd/resource-generator/main.go
  internal/controllers/flavor/actuator.go
  internal/controllers/flavor/actuator_test.go
  internal/controllers/flavor/controller.go
  internal/controllers/flavor/list.go
  internal/controllers/flavor/list_test.go
  internal/controllers/flavor/tests/import-error/01-assert.yaml
  internal/controllers/flavor/zz_generated.adapter.go
  internal/controllers/generic/actuator.go
  internal/controllers/generic/adapter.go
  internal/controllers/generic/controller.go
  internal/controllers/generic/status.go
  internal/controllers/image/actuator.go
  internal/controllers/image/reconcile.go
  internal/controllers/image/zz_generated.adapter.go
  internal/controllers/network/actuator.go
  internal/controllers/network/controller.go
  internal/controllers/network/status.go
  internal/controllers/network/zz_generated.adapter.go
  internal/controllers/port/actuator.go
  internal/controllers/port/controller.go
  internal/controllers/port/status.go
  internal/controllers/port/zz_generated.adapter.go
  internal/controllers/router/actuator.go
  internal/controllers/router/controller.go
  internal/controllers/router/status.go
  internal/controllers/router/zz_generated.adapter.go
  internal/controllers/routerinterface/reconcile.go
  internal/controllers/securitygroup/actuator.go
  internal/controllers/securitygroup/actuator_test.go
  internal/controllers/securitygroup/controller.go
  internal/controllers/securitygroup/status.go
  internal/controllers/securitygroup/zz_generated.adapter.go
  internal/controllers/server/actuator.go
  internal/controllers/server/controller.go
  internal/controllers/server/list.go
  internal/controllers/server/status.go
  internal/controllers/server/zz_generated.adapter.go
  internal/controllers/subnet/actuator.go
  internal/controllers/subnet/controller.go
  internal/controllers/subnet/status.go
  internal/controllers/subnet/tests/import-error/01-assert.yaml
  internal/controllers/subnet/zz_generated.adapter.go
  internal/osclients/compute.go
  internal/osclients/filter.go
  internal/osclients/filter_test.go
  internal/osclients/image.go
  internal/osclients/mock/compute.go
  internal/osclients/mock/image.go
  internal/osclients/mock/networking.go
  internal/osclients/networking.go
Labels: semver:patch

#200 Improvements to Progressing condition
  internal/controllers/flavor/actuator.go
  internal/controllers/flavor/status.go
  internal/controllers/generic/actuator.go
  internal/controllers/generic/conditions.go
  internal/controllers/generic/controller.go
  internal/controllers/generic/progress_status.go
  internal/controllers/generic/status.go
  internal/controllers/image/actuator.go
  internal/controllers/network/actuator.go
  internal/controllers/network/status.go
  internal/controllers/port/actuator.go
  internal/controllers/port/status.go
  internal/controllers/router/actuator.go
  internal/controllers/router/status.go
  internal/controllers/routerinterface/status.go
  internal/controllers/securitygroup/actuator.go
  internal/controllers/securitygroup/actuator_test.go
  internal/controllers/securitygroup/status.go
  internal/controllers/server/actuator.go
  internal/controllers/server/status.go
  internal/controllers/subnet/actuator.go
  internal/controllers/subnet/status.go
Labels: semver:patch

#199 Network: fix panic when creating resource without description
  internal/controllers/network/actuator.go
  internal/controllers/subnet/tests/create-full-v4/00-subnet.yaml
  internal/controllers/subnet/tests/create-full-v6/00-subnet.yaml
  internal/controllers/subnet/tests/create-minimal-v4/00-subnet.yaml
  internal/controllers/subnet/tests/create-minimal-v6/00-subnet.yaml
  internal/controllers/subnet/tests/import-error/00-create-network.yaml
  internal/controllers/subnet/tests/import/00-create-network.yaml
Labels: semver:patch

#202 Filter reconciles when the resource is up to date
  internal/controllers/generic/controller.go
Labels: semver:patch

#209 DRY updatetags reconciler
  internal/controllers/network/actuator.go
  internal/controllers/port/actuator.go
  internal/controllers/router/actuator.go
  internal/controllers/securitygroup/actuator.go
  internal/controllers/subnet/actuator.go
  internal/util/neutrontags/join.go
Labels: semver:patch

#201 CI: Drop workaround creating almost identical resources
  internal/controllers/flavor/tests/import-error/00-create-flavors.yaml
Labels: semver:patch

#195 Add maxlength CEL validation markers and enable KAL's maxlength check
  .golangci.yml
  api/v1alpha1/flavor_types.go
  api/v1alpha1/image_types.go
  api/v1alpha1/network_types.go
  api/v1alpha1/port_types.go
  api/v1alpha1/router_interface_types.go
  api/v1alpha1/router_types.go
  api/v1alpha1/securitygroup_types.go
  api/v1alpha1/server_types.go
  api/v1alpha1/subnet_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/openstack.k-orc.cloud_flavors.yaml
  config/crd/bases/openstack.k-orc.cloud_images.yaml
  config/crd/bases/openstack.k-orc.cloud_networks.yaml
  config/crd/bases/openstack.k-orc.cloud_ports.yaml
  config/crd/bases/openstack.k-orc.cloud_routerinterfaces.yaml
  config/crd/bases/openstack.k-orc.cloud_routers.yaml
  config/crd/bases/openstack.k-orc.cloud_securitygroups.yaml
  config/crd/bases/openstack.k-orc.cloud_servers.yaml
  config/crd/bases/openstack.k-orc.cloud_subnets.yaml
Labels: semver:major

#210 Update README
  README.md
Labels: semver:patch

#212 examples: Create local-config
  examples/Makefile
  examples/README.md
  examples/apply/cirros-image/kustomization.yaml
  examples/apply/cirros/kustomization.yaml
  examples/apply/devstack/kustomization.yaml
  examples/apply/local-config/kustomization.yaml
  examples/apply/managed-network/kustomization.yaml
  examples/apply/routed-network/kustomization.yaml
  examples/bases/cirros/kustomization.yaml
  examples/bases/cirros/port.yaml
  examples/bases/credentials-reference/kustomization.yaml
  examples/bases/devstack/kustomization.yaml
  examples/bases/devstack/port.yaml
  examples/bases/devstack/provider-network.yaml
  examples/bases/local-config-ref/kustomization.yaml
  examples/bases/routed-network/kustomization.yaml
  examples/bases/routed-network/provider-network.yaml
  examples/bases/routed-network/router.yaml
  examples/credentials/.gitignore
  examples/local-config/.dockerignore
  examples/local-config/.gitignore
  examples/local-config/external-network-filter.yaml.example
  examples/local-config/external-network.yaml
  examples/local-config/kustomization.yaml
  hack/e2e.sh
  website/docs/local-development.md
Labels: semver:patch

#216 examples: fix tabs in devstack securitygroup
  examples/bases/devstack/securitygroup.yaml
Labels: semver:patch
